@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 300;
	src: url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
  }
  

body {
    height: 100vh;
	background: rgb(212, 212, 212);
	overflow-x: hidden;
}

body {
	padding: 0;
	margin: 0;
	background: #fff;
    min-height: 100vh;
	font-family: 'Raleway', sans-serif;
}

body a {
	transition: 0.5s all;
	text-decoration: none;
	letter-spacing:1px;
	font-size:15px;
	font-weight:600;
}

body a:hover {
	text-decoration: none;
}

body a:focus, a:hover {
	text-decoration: none;
}

input[type="button"], input[type="submit"], a {
	transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight:600;
	letter-spacing:1px;
		
}

.clear{
	clear:both;
}

p {
	margin: 0;
	color:#666;
	letter-spacing:1px;
	line-height:1.8em;
	font-size:16px;
	font-weight:400;
}

.signupform {
	padding: 3em 0;
}

.infoIzquierda h1 {
    font-size: 45px;
    margin: 1em 0em .5em 0em;
    color: #333;
    font-weight: 700;
}

input[type="text"], input[type="number"], input[type="email"], input[type="Password"], input[type="date"]  {
	font-size: 15px, ;
	color: #333;
    text-align: left;
    letter-spacing: 1px;
    padding: 14px 10px;
	width:93%;
	display:inline-block;
    box-sizing: border-box;
   	border: none;
    outline: none;
    background: transparent;
	font-family: 'Raleway', sans-serif;
}

.input-group {
    margin-top: 10px;
    margin-bottom: 20px;
	padding: 3px 10px;
	border: 1px solid #ddd;
	background: #fff;
	position: relative;
}
.btn-block {
    background: #007aaa;
    border: none;
    color: #fff;
    font-size: 13px;
    padding: 12px 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
	cursor: pointer;
	transition: .4s;
}

.btn-block:hover{
    background: #00445f;
}

.formulario h2 {
  display: inline-block;
    font-size: 26px;
    margin-bottom: 10px;
    color: #333;
    letter-spacing: 2px;	
    text-transform: capitalize;
}

.formulario h4 {
    display: inline-block;
    font-size: 15px;
	padding: 8px 0px;
    color: #444;
    text-transform: capitalize;
}

.formulario {
    flex-basis: 50%;
    box-sizing: border-box;
	padding: 3em 4em;;
	position: relative;
}

.informacion {   
	display: flex;    
	position: relative;
}

.infoIzquierda {
	padding-right: 3em;
	position: fixed;
}

.infoIzquierda img {
    width: 200px;
    position: relative;
    top: 70px;
    left: 50px;
    margin: auto;
}

.letras {
    padding: 0px;
	flex-basis: 50%;
	position: relative;
}

.formulario p {
    padding-bottom: 30px;
}

p.account,p.account1 {
    padding-top: 20px;
    padding-bottom: 0px;
    line-height: 1.5em;
    font-size: 13px;
}

p.account a:hover,p.account1 a:hover {
    text-decoration: none;
}

.formulario label {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
    font-size: 13px;
    padding-left: 0px;
}

.container {
    width: 65%;
	margin: 0 auto;
	position: relative;
}

.input-group span.fa, .input-group span.fab {
   font-size: 16px;
    vertical-align: middle;
	box-sizing:border-box;
	float:left;
    text-align: center;
	width:6%;
    padding: 15px 0px;
	color: #01a4cd;
}

/*other pages*/

section {
	padding: 5%;
}

section form h1 {
	text-align: center;
	margin-bottom: 50px;
}

section form p {
	margin-bottom: 50px;
}

section form {
	width: 500px;
	margin: auto;
}

/*Panel*/

.fa, .fal, .fas, .fad {
	position: relative;
	display: table-cell;
	width: 60px;
	height: 36px;
	text-align: center;
	vertical-align: middle;
	font-size:20px;
}

.main-menu:hover,nav.main-menu.expanded {
	width:250px;
	overflow:visible;
}

.main-menu {
	background:#042f4b;
	position:fixed;
	top:0;
	bottom:0;
	height:100%;
	left:0;
	width:60px;
	overflow:hidden;
	transition:width .05s linear;
	transform:translateZ(0) scale(1,1);
	z-index:1000;
}

.main-menu>ul {
	margin:7px 0;
	display: flex;
	flex-direction: column;
	height: 200px;
	justify-content: space-around;	
}

.main-menu li {
	position:relative;
	display:block;
	width:250px;
}

.main-menu li>a {
	position:relative;
	display:table;
	border-collapse:collapse;
	border-spacing:0;
	color:rgb(255, 255, 255);
	font-family: arial;
	font-size: 14px;
	text-decoration:none;
	transition:all .1s linear;
}

.main-menu .nav-icon {
	position:relative;
	display:table-cell;
	width:60px;
	height:36px;
	text-align:center;
	vertical-align:middle;
	font-size:18px;
}

.main-menu .nav-text {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	width:190px;
  	font-family: 'Titillium Web', sans-serif;
}

.main-menu .nav-title {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	width:190px;
	font-size: 30px;
  	font-family: 'Titillium Web', sans-serif;
}

.no-touch .scrollable.hover {
	overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
	overflow-y:auto;
	overflow:visible;
}

a:hover {
	text-decoration:none;
}

nav {
	user-select:none;
}

nav ul,nav li {
	outline:0;
	margin:0;
	padding:0;
}

.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
	color:#fff;
	background-color:#416b9c;
}

.area {
	float: left;
	background: #e2e2e2;
	width: 100%;
	height: 100%;
}

.first {
	margin-bottom: 150px;;
}

/*profile*/

.profile {
	position: absolute;
	right: 50px;
	display: flex;
	top:50px;
}

.balance {
	position: absolute;
	left: 100px;
	display: flex;
	top:50px;
	border-bottom: 15px solid rgb(52, 167, 52);
	width: 150px;
}

.bred {
	border-bottom: 15px solid rgb(167, 52, 52);
}

.byellow {
	border-bottom: 15px solid rgb(167, 136, 52);
}

section .info {
	padding: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 80%;
	margin: auto;
}

section .info .square { 
	width: 40%;
	border: 1px solid rgb(199, 199, 199);
	padding: 4%;
	background: white;
	margin-bottom: 10px
}

section .info .square form{ 
	width: 100%;
}

section .info .square form .input-group {
	border: 1px solid rgb(85, 85, 85);
}

.btn-green {
	background: rgb(20, 175, 98);
	transition: .4s;
}

.btn-red {
	background: rgb(175, 20, 20);
}
.modalAddAccount, .modalAddCC, .modalMotivo  {
	width: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.863);
	height: 100vh;
	top: 0;
	left: 0;
	display: none;
	z-index: 10000000;
}

.espacio {
	margin-top: 150px;
}

.addAccount {
	display: block;
}

.addCC {
	display: block;
}

.add {
	display: block;
}

.modalAddAccount .square, .modalAddCC .square, .modalMotivo .square{
	width: 600px;
	margin: auto;
	transform: translateY(20%);
}

.modalAddAccount .square h1, .modalAddCC .square h1, .modalMotivo .square h1  {
	color: white;
	margin-bottom: 50px;
}

.modalAddAccount .square label {
	color: white;
}

.close {
	position: absolute;
	top: 50px;
	left: 70px;
	color: white;
}
.close i {
	font-size: 40px;
	cursor: pointer;
}


/*table*/


table {
width: 100%;
margin: auto;
   background: white;
   border: rgb(211, 209, 209) solid 1px;
   padding: 1% 2%;
   margin-bottom: 50px;
}

table thead {
    color: rgb(131, 129, 129); 
	margin-bottom: 1px;
	text-decoration: solid;
}

table thead tr th, table tfoot tr th{
    padding: 2%;
    margin-bottom: 10px;
}

table tbody {
    color: rgb(43, 43, 43);
}

table thead tr th:first-child ,table tbody tr th:first-child {
    text-align: left;
}

table tbody tr th:nth-child(3){
	width: 30%;
}

table tbody tr th {
    padding: 2%;
}

.select-box {
    position: relative;
    display: block;
    width: 65%;
    font-size: 16px;
    color: #60666d;
	font-weight: 100;
}

.select-box__current {
    position: relative;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
}
.select-box__current:focus + .select-box__list {
    opacity: 1;
    animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
}
.select-box__current:focus .fa-chevron-down {
    transform: translateY(-50%) rotate(180deg);
}
.fa-chevron-down {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
}

.select-box__value {
    display: flex;
}
.select-box__input {
    display: none;
}
.select-box__input:checked + .select-box__input-text {
    display: block;
}
.select-box__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #fff;
}

.select-box__list {
	position: absolute;
	top: -20px;
	height: 300px;
	overflow-y: auto;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
	box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
	z-index: 10000000;
}

.select-box__option {
    display: block;
    padding: 15px;
	background-color: rgb(255, 255, 255);
	color: #007aaa;
}

.select-box__option:hover, .select-box__option:focus {
    color: #546c84;
    background-color: #fbfbfb;
}

@keyframes HideList {
    from {
        transform: scaleY(1);
   }
    to {
        transform: scaleY(0);
   }
}


.modalAddAccount .square .select-box__list label{
	color: rgb(0, 0, 0);
}

.new {
	position: absolute;
	width: 10px !important;
	right: -60px;
	top: 0;
	padding: 20px;
	font-size: 20px;
	color: white;
	background: rgb(20, 175, 98);
	cursor: pointer;
}

.square img {
	width: 100%;
}
.square label {
	margin-bottom: 20px;
	color: rgb(88, 88, 88);
}

section .center {
	padding: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 80%;
	margin: auto;
}

.range {
	display: flex;
	width: 50%;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.range p {
	margin-top: 50px;
}

.prev, .next {
	color: white;
	background: rgb(20, 175, 98);
	cursor: pointer;
	height: 50px;
	width: 50px;
	transition: .4s;
}

.prev:hover, .next:hover {
	background: rgb(6, 104, 55);
}

.btn-green:hover {
	background: rgb(6, 104, 55);
}

.prev i, .next i {
	font-size: 20px;
	line-height: 50px;
}

@media screen and (max-width:800px) {

	.letras {
		display: none;
	}

	section {
		width: 80%;
		float: right;
		position: relative;
		top: 100px;
	}

	section .info {
		padding: 5%;
		width: 85%;
		float: right;
		margin: auto;
	}

	section form {
		width: 100%;
	}

	section form h1 {
		text-align: center;
		margin-bottom: 50px;
	}
	

	section .info .square { 
		width: 100%;
	}

	
	.btn-block {
		font-size: 13px;
		width: 100%;
		padding: 10px;
		letter-spacing: 2px;
		text-transform: uppercase;
		cursor: pointer;
		transition: .4s;
		text-align: center;
	}

		
	.profile {
		position: absolute;
		right: 50px;
		display: flex;
		top:-70px;
	}

	.balance {
		position: absolute;
		left: 50px;
		display: flex;
		top:-70px;
		border-bottom: 15px solid rgb(52, 167, 52);
		width: 100px;
	}

	.range {
		width: 90%;
		margin: auto;
	}

	form .field{
		width: 90%;
		margin: auto;
	}
	
	form .field .select-box {
		margin: auto;
	}

	
	table {
		width: 100%;
		margin: auto;
	   background: white;
	   border: rgb(211, 209, 209) solid 1px;
	   padding: 1% 2%;
	   margin-bottom: 50px;
	}
	
	table thead {
		color: rgb(131, 129, 129); 
		margin-bottom: 1px;
		text-decoration: solid;
	}
	
	table thead tr th, table tfoot tr th{
		padding: 2%;
		margin-bottom: 10px;
	}
	
	table tbody {
		color: rgb(43, 43, 43);
	}
	
	table thead tr th:first-child ,table tbody tr th:first-child {
		text-align: left;
	}
	
	table tbody tr th:nth-child(3){
		width: auto;
	}

	table tbody tr th:nth-child(1), table tbody tr th:nth-child(2), table thead tr th:nth-child(1), table thead tr th:nth-child(2){
		display: none;
	}
	
	table tbody tr th {
		padding: 2%;
	}

	.modalAddAccount .square, .modalAddCC .square, .modalMotivo .square{
		width: 60%;
	}

	.square form h1 {
		font-size: 20px;
	}

	.close {
		position: absolute;
		top: 20px;
		left: 10px;
		color: white;
	}
	.close i {
		font-size: 30px;
		cursor: pointer;
	}
}


/** Responsive **/

@media screen and (max-width: 800px){

	.container {
		width: 95%;
		margin: auto;
	}

	input[type="text"],input[type="password"] {
		font-size: 14px;
	}
	.input-group span.fa {
		font-size: 16px;
		padding: 13px 0px;
	}

	.contenedor {
		width: 90%;
		float: left;
	}
}